# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = cspider.settings

[deploy]
url = http://120.24.231.4:6801/addversion.json
project = cspider
